.animate__animated.animate__bounce{
    animation-duration: 2s;
}
.animate__animated.animate__backInLeft{
    animation-duration: 2s;
    animation-timing-function: ease-in;
}
.animate__animated .animate__backInRight{
    animation-duration: 2s;
}