.footer{
    background-color: var(--color-secondary);
    grid-column: full-start / full-end;
    /* grid-row: 7/8; */
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.copyright{
    margin-top: 1.8rem;
    align-self: center;
    font-size: 3rem;
}
.footer_socialhandles{
    align-self: center;
}

.footer_icon{
    font-size: 3rem;
}